@charset "utf-8";
/* CSS Document */

behavior: url (../images/css3_pie/PIE.htc);

#floatingbar ul{
	list-style-type:none;
}

#floatingbar ul li{
	float:left;
}

#floatingbar ul li a{
	text-decoration:none;
}

.floater{
	position:fixed;
	top:0px;
	z-index:999;
	width:960px;
	border-top:none;
	display:block;
	clear:both;
	margin:0 auto;
	float:left;
	
	box-shadow: 0 0 7px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 7px rgba(0,0,0,0.4);
	border-radius: .214em;
	-webkit-border-radius: .214em;
	-moz-border-radius: .214em;
}